
.card{
  height: 80px;
  min-width: 120px;
  margin-left: 3px;
  padding: 0px;
  justify-content: center;
}

.card-body{
  min-height:0px;
  justify-content: center;
}

.draggable-container {
  display: flex; 
  flex-wrap: wrap; 
  min-width: 100%;
  justify-content: center;
}

.droppable-container {
  display:flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  width: 100%;
  justify-content: center;
}

.page-container{
  position: relative;
  max-height: fit-content;
  justify-content: center;
  width: 100% - margin;
  margin: 30px;
  padding-top: 2px;
  padding-right: 2px;
  text-align: center;
}



@media only screen and (max-width: 600px) {
  body {
    overscroll-behavior-y: contain;
  }
  .page-container{
    margin: 5px;
  }
  .card{
    max-height: 60px;
    min-width: 100px;
    margin-top: 3px;
  }
  h1{
    font-size: 36px;
  }
}

