.card{
  height: 80px;
  min-width: 120px;
  margin: 1px;
}
.draggable-container {
  display:flex; 
  flex-wrap: wrap; 
  width: 100%;
  justify-content: center;
}

.droppable-container {
  display:flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  width: 100%;
  justify-content: center;
}

.btn {
  width: fit-content; 
  height: fit-content; 
  border: 2px solid #000000;
  margin-top: 20px;
}

.page-container{
  position: relative;
  min-height: fit-content;
  justify-content: center;
  width: 100% - margin;
  margin: 30px;
  text-align: center;
}

.footer-container{
  position: absolute;
  bottom: 0;
  width: 100%;
}

